

.pagination ul{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: transparent;
  padding: 8px;
  border-radius: 50px;
  
  
}
.pagination ul li{
  color: #75CFB8;
  list-style: none;
  line-height: 26px;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
}
.pagination ul li.numb{
  list-style: none;
  height: 26px;
  width: 26px;
  margin: 0 3px;
  line-height: 26px;
  border-radius: 50%;
}
.pagination ul li.numb.first{
  margin: 0px 3px 0 -5px;
}
.pagination ul li.numb.last{
  margin: 0px -5px 0 3px;
}
.pagination ul li.dots{
  font-size: 10px;
  cursor: default;
}
.pagination ul li.btn{
  padding: 0 20px;
  border-radius: 50px;
}
.pagination li.active,
.pagination ul li.numb:hover,
.pagination ul li:first-child:hover,
.pagination ul li:last-child:hover{
  color: #fff;
  background-color: #75CFB8;
}
